<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">O</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Busca" aria-label="Busca">
      <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<div class="container my-3">
  <!-- <div class="d-flex col-12 card-item" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> -->
  <div class="card-item">
    <div class="d-flex col-12 ">
      <div class="col-md-6 col-sm-12 mx-2">
        <span>PROFISSIONAL:</span>
        <br>
        <strong>João da Silva</strong>
      </div>
      <div class="col-md-6 col-sm-12 mx-2 text-right">
        <span>ESPECIALIDADE:</span>
        <br>
        <strong>Médico Pediatra</strong>
      </div>
    </div>
    <div class="col-12 mx-2 mt-2">
      <span>LOCAL: </span>
      <a href="https://www.google.com/maps/search/?api=1&query=Maternidade Dona Nazira Daou" target="_blank" rel="noopener noreferrer">
        <strong>Maternidade Dona Nazira Daou</strong>
      </a>
    </div>
  </div>
  <!-- <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div> -->
</div>
